

   
body{

  width: 100%;
  height: auto;
  margin: 0;
  background-color: rgb(43, 39, 39);
  user-select: none;
}


button{
    background-color: darkcyan;
}
.botonVolMen a{
    font-size: 1.3em;
    margin: auto;
    padding: 0.5em;
    text-decoration: none;
    color: aliceblue;

}
.contPrinc {
    display: flex;
    background-color: rgb(179, 223, 255);
    width: 85%;
    padding:2em ;
    margin: auto;
    flex-direction: column;
    align-items: center;
  }

h1 {
  width: 100%;
  height: auto;
    font-family: 'Times New Roman', Times, serif;
    padding: 0.3em;
    background-color: beige;
    text-shadow: 8px 8px 10px grey;
    border-radius: 0.5em;
    text-align: center;
}
.videos {
    display: flex;
    flex-wrap: wrap;
}
video {

    width: 15em;
    height: auto;
    padding: 0.5em;
    margin: auto;
}

.imagen {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.imagen img {
    display: flex;
    width:auto;
    height: 8em;
    padding: 0.5em;
    margin:  1em 5em 1em 5em;
}
.imgF img {
    width:auto;
    height: 4em;

}
.nombreVideo{
    display: flex;
    flex-direction: column;
    margin: auto;
}
p {
  width: 100%;
  height: auto;
  font-size: 1.5em;

  
}
li {
    font-size: 1.5em;
}

.nombreVideo p {
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 0%;
}

.imgfloat1 {
    width: 100%;
}

.imgfloat1 img {
    float: left;
    margin-left: 0.3em;
    margin-right:0.3em ;
    margin-bottom: 0.3em;
    width: 200px;
    height: auto;

}

.botonMenu{
  display: flex;
  margin-top: 1em;
  justify-content: center;

}
.botonMenu img{
    display: block;
    width: 70%;
    height: auto;
    margin: auto;
    transition: 0.3s;
}
.botonMenu img:hover{
    cursor: pointer;
    box-shadow: 0px 0px 20px blue;
    transition: 0.3s;
}


a{
  text-decoration: none;
  color: rgb(40, 127, 0);
}

a:hover{
  color: rgb(96, 56, 56);
  cursor: pointer;
}

@media (max-width:1000px){
  body{
    width: 100%;
    height: auto;
  }

  .contPrinc{
    width: 100%;
    height: auto;
    margin: 0;
        }

.botonMenu{
  width: 40%;
  height: auto;
}

#stopAll p{
  display: flex;
  font-size: 1em;
  margin: 0.3em; 

}

}



    #yuxtaposicion{
        cursor: pointer;
      }
    #imbricacion{
        cursor: pointer;
      
      }
    #silencio{
        cursor: pointer;
    }

    #interpolacion{
        cursor: pointer;
    }

    #imagine1{
        cursor: pointer;
        transition: 0.3s;
      }
    #imagine1:hover{
        cursor: pointer;
        color: rgb(248, 5, 70);
        transition: 0.3s;
      }
    #imagine2{
        cursor: pointer;
        transition: 0.3s;
      }
    #imagine2:hover{
        cursor: pointer;
        color: rgb(248, 5, 70);
        transition: 0.3s;
      }

    #imagine3{
        cursor: pointer;
        transition: 0.3s;
      }
    #imagine3:hover{
        cursor: pointer;
        color: rgb(248, 5, 70);
        transition: 0.3s;
      }

    #imagine4{
        cursor: pointer;
        transition: 0.3s;
      }
    #imagine4:hover{
        cursor: pointer;
        color: rgb(248, 5, 70);
        transition: 0.3s;
      }

    #imagine5{
        cursor: pointer;
        transition: 0.3s;
      }
      #imagine5:hover{
        cursor: pointer;
        color: rgb(248, 5, 70);
        transition: 0.3s;
      }

    #imagine6{
        cursor: pointer;
        transition: 0.3s;
      }
    #imagine6:hover{
        cursor: pointer;
        color: rgb(248, 5, 70);
        transition: 0.3s;
      }

    #imagine7{
        cursor: pointer;
        transition: 0.3s;
      }
      #imagine7:hover{
        cursor: pointer;
        color: rgb(248, 5, 70);
        transition: 0.3s;
      } 

    #imagine8{
        cursor: pointer;
        transition: 0.3s;
      }
    #imagine8:hover{
        cursor: pointer;
        color: rgb(248, 5, 70);
        transition: 0.3s;
      }

    #imagine9{
        cursor: pointer;
        transition: 0.3s;
      }
    #imagine9:hover{
        cursor: pointer;
        color: rgb(248, 5, 70);
        transition: 0.3s;
      }

    #stopAll{
      display: flex;
      width: auto;
      height: auto;
      position: sticky; /* Activa el comportamiento sticky */
      top: 1em;       /* Define el límite superior donde se "pega" */
      padding: 1px;
      background-color: #ff6735;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 7px 6px 7px grey;
      transition: 0.3s;
      text-align: center;
      z-index: 100;
      margin: 0.5em;       
    }
    
    #stopAll:hover{
        transition: 0.3s;
        background-color: #9f0404;
    }
    #stopAll p{
      display: flex;
      font-size: 2em;
      margin: 0.3em; 
    }


    #imagine{
        display: inline-block;
        width: 12em;
        height: auto;
    margin-left: 2em;
    padding: 10px 20px;
    background-color: #31234b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 7px 6px 7px grey;
    text-align: center;
    transition: 0.3s;
    }

    #imagine:hover{
        width: 11.8em;
        height: auto;
        transition: 0.3s;
        box-shadow: 5px 4px 5px grey;
     
    }
    h2{
      width: 100%;
      height: auto;
    }

     
